@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@6cc9f9ffbce04e8cd2720ded2034ae33cd8dca95/1739456595/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}