@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@d323b04e8a16c598477a8b90ce69d2ac53774b26/1739456595/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}