@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@584f31b5d4212cbc46a0b0075fd58bc6c73d35f6/1739552778/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}