@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@ad233e6ba60fb4e3bca80defe850dc6aa160b600/1739552778/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}