@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@9fb554efc99d406c20994c4cc9ebbfa8edc864ef/1739552778/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}