@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@b205b283701176ec3b99f5809be8eaf29124e101/1739552778/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}