@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@f4c496cda6d9e9f95bc8c757c276a667943edbae/1739552778/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}