@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@f90035a9b45244b573ef97d2c1ac022380cb5fa9/1739552778/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}