@font-face {
font-family: '15';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@360f86f685043a5a60f6890f14cee8ebfb34c1c6/1739552778/15.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}