@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@24ed44e319f1f8dfebbd895ff945fc3a75b1cfcd/1739552778/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}