@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@0f371fdb5a1e2c7936654a40787ab51516f60cfc/1739552778/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}