@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@491b8f05b162e49788f1f4cb6f84f1a7cc530fa0/1739552778/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}