@font-face {
font-family: '225';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@ca89d87c84e4fba6af6f54e7667d99388131023d/1739552778/225.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}