@font-face {
font-family: '226';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@b9faf237e97d9226855cc2a8992efee56767dbe5/1739552778/226.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}