@font-face {
font-family: '227';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@98ccfb7ed84f8188615ffa5edb3f3af622a4c405/1739552778/227.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}