@font-face {
font-family: '230';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@eb8f3b59b828d46eaa0b611af4c1fe3be0df3b3e/1739552778/230.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}