@font-face {
font-family: '240';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@546114615ce3e78346d7ef9b236c75e8dd3ce295/1739552778/240.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}