@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@4c5c316b7605b97a0b899543a4a58e617db3d274/1739552778/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}