@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@e2fa9e9795b49a0814ea8c5f087d6c2bbf5b07f3/1739552778/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}