@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@77c1fe36c53a758044e6624907f8da0a91523381/1739552778/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}