@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@5c8e18b9255fa5975153b576b040aa2bec4df02d/1739552778/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}