@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@dc32557d75bdeff911fa249c8f869f475ef3baf4/1739552778/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}