@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@493ca22a5ebbe69c9eefcc3d350d10d3c882f192/1739552778/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}