@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@2cdb7b779e79c4d411bbca7589afe8c8e6b0ea62/1739552778/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}