@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@ce702735047674096716747152bd030275a089af/1739552778/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}