@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@19c3febbdc01eee5ba19f80171bf09b6af576277/1739552778/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}