@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@8af89cf68a008461e7ce1ed82cd9c961441fb67b/1739552778/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}