@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@549fd571780f7803dd168c20f8c3003b28ec3a76/1739552778/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}