@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@1817a389573417bdda5a0503fa662d2336dd69a4/1739552778/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}