@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@cc3981698bb888aff44860a894444f019448fde5/1739552778/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}