@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@6113872376fdf9f54eadbf1fa7a50eaba55eafb8/1739552778/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}