@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@f25fd18c30a3ed2b941acc64f1df70219ee4888c/1739552778/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}