@font-face {
font-family: '8';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@d3a8463930f830e67a94a0f44049cd9a9104a9fa/1739552778/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}