@font-face {
font-family: '8';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@e374ea1fe11b1db4c3f7fdef208bbc07f6e7f2f8/1739552778/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}