@font-face {
font-family: '8';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@e29941570fdc610c75ca0dd50c6ea377fba40cf6/1739552778/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}