@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@3ae1162a9ed09d594f69177dea25aa1520388f37/1739552778/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}