@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@956598b05bf97154e615681e421a5d1a598fb209/1739552778/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}