@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@9052b84078ed7d20b86a65f9fc5f42f4441082f9/1739552778/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}