@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@17e815d23fca553ffe557e6b19465d31a458b36a/1585407965/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}