@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@5333cdb3b0fac78afc9fefd9ae7025705553e72b/1585407965/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}