@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@725cfe14f87dffd400ab00ed3b53d660830cd746/1585407965/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}