@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@666c88554994ce6d693dd93d917cd198abb55ecd/1585407965/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}