@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@71fcf4096c58aa18f7fd90dc7ddb011786a36125/1585407965/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}