@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/FWW321/test@628248e6139a0d2102e557dd7eb8e4161709a877/1585407965/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}